.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: var(--background-color);
  border-bottom: 1px solid rgba(21,24,51,0.08);
}

.logo {
  width: 200px;
  height: 38px;
}

.menuItem {
  margin-right: 40px;

  &:last-of-type {
    margin-right: 0;
  }
}

.icon {
  margin-right: 8px;
}
