.modal {
  padding: 8px 64px 40px 64px;
}

.title {
  margin: 0 0 40px 0;
  font: var(--title-medium);
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.cancel {
  margin-right: 12px;
}
