.photos {
  display: grid;
  flex-basis: 50%;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  justify-items: center;
  @media (--mediumDown) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  @media (--smallDown) {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 0 auto;
    width: 100%;
  }
}

.photoWrap {
  position: relative;
  width: 100%;
  height: 100%;

  &:nth-child(1) {
    & .photo {
      border-radius: 32px 32px 4px 32px;
    }
  }

  &:nth-child(3) {
    & .photo {
      border-radius: 32px 32px 32px 4px;
    }
  }

  &:nth-child(4) {
    & .photo {
      border-radius: 32px 4px 32px 32px;
    }
  }

  &:nth-child(6) {
    & .photo {
      border-radius: 4px 32px 32px 32px;
    }
  }

  @media (--mediumDown) {
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
  }
}

.photo {
  width: 100%;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  @media (--mediumDown) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    gap: 16px;
    align-self: baseline;
    min-height: 100px;
  }
  @media (--smallDown) {
    gap: 16px;
    align-self: baseline;
    width: 100%;
    min-height: 80px;
  }
  @media (max-width: 500px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 400px) {
    width: 80px;
    height: 80px;
  }
}
