
.time-picker {
  height: 48px;

  & .ant-time-picker-input {
    height: 48px;
  }
}

.ant-time-picker-panel-input-wrap {
    display: flex;
    height: 48px;
  }

.ant-time-picker-panel-clear-btn.ant-time-picker-panel-clear-btn  {
  top: 14px;
}