.switch.switch {
  display: block;
  width: 96px;
  height: 40px;
  overflow: hidden;
  background-color: #E8E9F2;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: #DCDCE7;
  }

  &::after {
    top: 2px;
    width: 34px;
    height: 34px;
    box-shadow: none;
  }

  & span {
    margin: 0;
    margin-right: 21px;
    font-size: var(--text16-24);
    color: #000;
    text-align: right;
  }

  &[aria-checked="true"] {
    background-color: var(--color-primary);

    & span {
      color: #fff;
    }
  }

  &[aria-checked="true"]:hover {
    background-color: var(--color-hover);
  }

  &[aria-checked="true"] span {
    margin-left: 21px;
    text-align: left;
  }
}
