.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 16px 48px;
  color: var(--text-color-secondary);
  text-align: center;
  white-space: pre-line;
  background-color: var(--background-color);
}
