.text {
  margin: 0 0 16px 0;
  align-self: flex-start;
}

.hint {
  margin: 0;
  color: #82839b;
  align-self: flex-start;
}

.rating {
  font-size: 32px;
  height: 32px;
  margin: 0;
}

.buttonsContainer {
  margin-bottom: 16px;
}
