.company {
  display: flex;
  margin-bottom: 24px;

  @media (--smallDown) {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}

.logo {
  margin-right: 16px;
  border-radius: 8px;
}

.text {
  max-width: 500px;
  margin: 0;
  font: var(--text14-20);
  color: var( --text-color-secondary);
}