.quote {
  @media (--smallDown) {
    padding: 0 16px 32px 16px;
  }
}

.message {
  position: relative;
  max-width: 288px;
  padding: 16px;
  margin: 0 0 8px 0;
  font: var(--text14-20);
  text-align: left;
  background-color: var(--color-bubble);
  border-radius: 32px 32px 32px 4px;

  @media (--smallDown) {
    max-width: none;
  }
}

.author {
  display: flex;
  align-items: center;
}

.authorPhoto {
  align-self: flex-start;
  width: 88px;
  margin-right: 16px;
  border-radius: 50%;
}

.textWrapper {
  text-align: left;
}

.authorName {
  margin: 0 0 4px 0;
  font-weight: 500;
}

.authorPosition {
  margin: 0;
  font: var(--text12-16);
}
