.wrapper {
  display: none;

  @media (--largeDown) {
    display: block;
  }
}

.resources {
  display: none;

  @media (--largeDown) {
    display: flex;
    overflow-x: scroll;

    overflow: -moz-scrollbars-none;
    scrollbar-width: none !important;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.title {
  font: var(--title-medium);
  margin-bottom: 32px;
}
