.title {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  font: var(--title-regular);
}

.subtitle {
  margin-bottom: 32px;
  font: var(--text18-28);
}

.button.button.button {
  display: block !important;
  padding: 16px 36px !important;
  margin: 40px auto 0 auto !important;

  @media (--smallDown) {
    margin: 24px auto 0 auto !important;
  }
}