.count {
  display: flex;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  background-color: #F7F6F2;
  border: 1px solid #F1EFED;
  border-radius: 20px;
}

.label {
  font: var(--text16-24);
}

.number {
  margin-bottom: 4px;
  font-size: 64px;
  line-height: 64px;
}

.countItem {
  flex-basis: 50%;    
  padding: 24px 0;

  &:first-of-type {
    border-right: 1px solid rgba(21, 24, 51, 0.08);
  }
}