.tag {
  color: var(--text-color-primary);
  font: var(--text12-16);
  padding: 4px;
  display: inline-block;
  background: #f7f6f2;
  text-decoration: none;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none !important;
  white-space: nowrap;

  &:hover {
    color: var(--text-color-primary);
  }
}

.highlighted {
  background: #e6e3dc;

  &:hover {
    background: rgba(230, 227, 220, 0.8);
  }
}

.big {
  font: var(--text14-20);
  padding: 4px;

  @media (--smallDown) {
    font-size: 14px;
    line-height: 20px;
  }
}

.huge {
  font: var(--text16-24);
  padding: 12px 16px;

  @media (--smallDown) {
    font-size: 16px;
    line-height: 24px;
  }
}

.active {
  background: #151833;
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}
