.page {
  position: relative;
  flex-grow: 1;
  max-width: 100vw;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: var(--background-color);

  @media (--mediumSecondDown) {
    padding: 24px 24px 80px;
  }

  @media (--smallDown) {
    padding: 24px 16px 80px;
    font: var(--text14-20);
  }

  @media (--xsmallDown) {
    padding: 24px 0 80px;
  }
}
