.countWrapper {
  padding: 32px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (--smallDown) {
    max-width: 100vw;
    padding: 0 16px;
  }
}

.count {
  display: flex;
  max-width: 480px;
  margin: 0 auto;
  margin-bottom: 72px;
  text-align: center;
  background-color: #f7f6f2;
  border: 1px solid #f1efed;
  border-radius: 20px;
}

.label {
  margin: 0;
  font: var(--text16-24);
  font-weight: 500;
}

.number {
  margin-bottom: 4px;
  font-family: var(--fontFamily-title);
  font-size: 64px;
  line-height: 64px;
}
