.bottom {
  font: var(--text14-20);

  & .infoLink {
    font: var(--text14-20);
  }

  @media (max-width: 767px) {    
    flex-direction: column;
    font: var(--text12-16);

    & .infoLink {
    font: var(--text12-16);
    }
  }
}

.copyright {
  padding-right: 24px;
  color: #616681;

  @media (max-width: 767px) { 
    padding-right: 12px;
  }
}

.secondaryText {
  color: #616681;
}

.oncohelp {
  @media (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.breadhead {
  align-self: center;
}
