.hintInput > .ant-select-selection {
  padding: 0;
}

.hintInput .ant-input {
  background: #fff !important;
}

.hidden {
  display: none;
}

.option {
  &:first-of-type {
    padding-top: 8px;
  }
  &:last-of-type {
    padding-bottom: 8px;
  }
}