.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: var(--background-color);
  border-bottom: 1px solid #EDEDEF;
}

.logo {
  width: 200px;
  height: 38px;
}

.white {
  background-color: #fff;
}