.header {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(21,24,51,0.12);

  @media (--mediumDown) {
    justify-content: flex-start;
  }
}

.textWrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 0;

  @media (--mediumDown) {
    padding-left: 21px;
  }
}

.text {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;

  &::before {
    position: absolute;
    top: 4px;
    left: -21px;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    background-color: var(--color-highlight);
    border-radius: 50%;
  }
}

.partnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 48px 0 0 0;
}

.partnerCard {
  max-width: 120px;
  padding-top: 0;
  margin: 0 32px 32px 32px;

  @media (--mediumDown) {
    margin: 0 24px 24px 24px;
  }
}

.radioGroup.radioGroup.radioGroup.radioGroup {
  @media (--mediumDown) {
    display: none;
  }
}

.select.select.select.select {
  display: none;

  @media (--mediumDown) {
    display: inline-block;
  }
}