.header {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(21,24,51,0.12);
}

.textWrapper {
  display: flex;
  justify-content: center;
  margin: 32px 0 48px 0;

  @media (--smallDown) {
    padding-left: 21px;
  }
}

.text {
  position: relative;
  text-align: left;

  &::before {
    position: absolute;
    top: 4px;
    left: -21px;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    background-color: var(--color-highlight);
    border-radius: 50%;
  }
}

.partnersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partnerCard {
  max-width: 120px;
  padding-top: 0;
  margin: 0 32px 32px 32px;

  @media (--mediumDown) {
    margin: 0 24px 24px 24px;
  }
}