.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 48px;
  background-color: var(--color-beige);

  @media (--largeDown) {
    display: none;
  }

  @media (--mediumDown) {
    padding: 8px 16px 6px;
  }
}

.headerWrapper {
  display: block;
}

.logo.logo.logo {
  display: flex;
  align-items: center;
  height: 96px;
  padding: 24px 0;

  @media (--smallDown) {
    height: 34px;
    padding: 0;
  }
}

.mobileMenu {
  display: none;

  @media (--mediumDown) {
    display: block;
  }
}
.desktopMenu {
  display: block;
  @media (--mediumDown) {
    display: none;
  }
}

.buttonContainer {
  @media (--xxsmallDown) {
    display: block;
    width: 40px;
    margin-left: auto;
  }
}
