{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@app": "./"
        }
      }
    ]
  ],
  "presets": [
    "next/babel",
    "@zeit/next-typescript/babel"
  ]
}
