.settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 32px 32px;
  gap: 16px;
  padding-bottom: 32px;
}

.rowEnd {
  justify-self: end;
}

.allRow {
  grid-column-start: 1; 
  grid-column-end: 3;
}