.popup {
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 0 24px;
  background-color: #fff;
  border: none;

  @media (--smallDown) {
    padding: 0 16px;
  }
}

.title {
  margin: 0 0 8px 0;
  font: var(--title-medium);

  @media (--smallDown) {
    font-size: 32px;
  }
}

.secondaryText {
  margin: 0 0 24px 0;
  font: var(--text14-20);
  color: #82839b;
}

.link.link {
  font: var(--text14-20);
}

.label {
  display: block;
  margin-bottom: 8px;
  font: var(--text16-24);
}

.input {
  margin-bottom: 12px;
}

.mainButton.mainButton {
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.socialButton.socialButton {
  width: 100%;
  max-width: 100%;
  height: 48px;
  margin-bottom: 32px;
}

.footer {
  font: var(--text14-20);
}
