.step {
  @media (--smallDown) {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.text {
  white-space: pre-line;
}

.img {
  width: 176px;
  height: 192px;
  margin-bottom: 20px;
}