.step {
  @media (--smallDown) {
    margin-bottom: 32px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.text {
  margin-bottom: 0;
  white-space: pre-line;
}

.img {
  width: 176px;
  height: 192px;
  margin-bottom: 12px;
}