.buttons {
  display: flex;
  white-space: nowrap;
}

.logo {
  @media (--smallDown) {
    display: none;
    justify-content: space-between;
    width: 100%;
  }
}

.login.login {
  margin-right: 12px !important;
}

.button.button {
  align-self: flex-start;
  margin-right: 12px;
  white-space: nowrap;
}