.navWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.mainMenu {
  justify-content: flex-start;
  
  @media (--smallMiddleDown) {
    display: none;
  }
}

.contentMenu {
  @media (--largeDown) {
    display: none;
  }
}

.link {
  transform: translateZ(0);
  display: inline-block;
  white-space: nowrap;
  font: var(--text18-28);
  font-size: 18px;
  line-height: 28px;
  padding: 18px 16px;
  border-bottom: none;
  transition: padding ease-in 0.5s;
}

.mainLink {
  @media (max-width: 959px) {
    &:last-child {
      border-bottom: none;
    }
  }

  &.active {
    background: white;
  }
}

.closeButton {
  display: none;
  align-self: flex-end;
  margin-bottom: 24px;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;

  & svg {
    width: 24px;
    height: 24px;
  }

  @media (--smallMiddleDown) {
    display: block;
  }
}

.link:hover svg {
  fill: var(--color-primary);
}

.NavIcon {
  width: 24px;
  height: 24px;
}

.loginMenu {
  & a {
    padding: 36px 0;
  }
}

.loginButton {
  @media (--mediumDown) {
    margin-top: 24px;
  }
}

.mobileMenuWrapper {
  @media (--mediumDown) {
    width: 100%;
  }
}

.linkHelp {
  margin-right: 12px;
}

.contentLink {
  color: #82839b;
  @media (max-width: 959px) {
    color: var(--color-text-primary);
  }
}

.helpButton {
  transform: translateZ(0);
  transition: color 0.2s, background-color 0.2s, padding ease-in 0.5s !important;
}

.narrowButtonWrap button {
  padding-top: 10px;
  padding-bottom: 10px;
}

.narrowMenu .link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonWrap {  
  border: none;

  @media (--largeDown) {
    display: none;
  }
}