.container {
  max-width: 640px;
  padding: 90px 0 120px;
  margin: 0 auto;
  text-align: center;

  @media (--smallDown) {
    padding: 56px 0 72px;
  }
}

.buttons {
  display: flex;
  justify-content: center;

  @media (--smallDown) {
    flex-direction: column;
    align-items: center;
  }
}

.buttonMain {
  margin: 0 12px 0 0;

  @media (--smallDown) {
    margin: 0 0 16px 0;
  }
}

.text {
  margin-bottom: 32px;
  font: var(--text14-20);
  color: var(--text-color-secondary);
}

.title {
  margin: 0 0 32px 0;
  font: var(--title-medium);
}

.logo {
  margin: 24px 0 24px 48px;

  @media (--smallDown) {
    margin: 8px 0 8px 16px;
  }
}

.image {
  width: 84px;
  margin-bottom: 10px;
}

.desktopLogo {
  width: 238px !important;
  height: 48px !important;

  @media (--smallDown) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 200px !important;
  height: 38px !important;

  @media (--smallDown) {
    display: block;
  }
}
