.link.link {
  font: var(--text14-20);
}

.openSignUpButton.openSignUpButton.openSignUpButton {
  display: inline-block;
  padding: 0 !important;
  margin-right: 16px !important;
  font: var(--text14-20) !important;
  color: var(--color-link);
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  box-shadow: none;

  &:hover {
    border-bottom: 1px solid var(--color-link-underline);
  }

  &:active {
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
  }
}
