.openButton {
  position: relative;
  display: block;
  padding: 0;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;

  & svg {
    width: 24px;
    height: 24px;
  }

  &::after {
    position: absolute;
    top: -20%;
    left: -27%;
    z-index: 10;
    display: block;
    width: 40px;
    height: 40px;
    content: '';
  }
}

.NavIcon {
  width: 24px;
  height: 24px;
}
