.widget {
  padding: 40px 80px 48px;
  background-color: #fff;
  margin-right: 32px;

  box-shadow: 0px 32px 40px rgba(0, 9, 92, 0.12);

  @media (--smallDown) {
    margin-right: 0;
    padding: 32px 16px 40px;
    margin-bottom: 24px;
  }
}

.frequencyForm {
  min-width: 448px;
  width: 100%;
  margin-bottom: 16px;
  border: 1px solid #dcdce7;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;

  @media (--smallDown) {
    min-width: auto;
  }
}

.costForm {
  display: grid;
  justify-items: center;
  gap: 1px;
  background-color: #dcdce7;
  border: 1px solid #dcdce7;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 28px;
}

.cell-1 {
  grid-column: span 1;
}

.cell-2 {
  grid-column: span 2;
}

.cell-3 {
  grid-column: span 3;
}

.selectWrapper {
  display: flex;
  justify-content: space-between;
  height: 36px;

  @media (--smallDown) {
    flex-direction: column;
  }
}

.selectLabel {
  @media (--smallDown) {
    margin-bottom: 8px;
  }
}

.button {
  margin-top: 24px;
  width: 100%;
}

.cancelText {
  margin-top: 16px;
  margin-bottom: 0;
  font: var(--text12-16);
  color: var(--text-color-secondary);
}

.cancelLink {
  color: var(--color-primary);
  font: var(--text12-16) !important;

  &:hover {
    color: var(--text-color-secondary);
  }
}

.inputWrapper {
  margin-bottom: 12px;
  width: 448px;
}

.input label {
  margin-bottom: 4px !important;
}

.backButton {
  padding-top: 18px;
  padding-bottom: 18px;
  color: #82839b;
  border: none;
  cursor: pointer;
  box-shadow: none;
  margin-right: 32px;
}

.buttonsWrapper {
  display: flex;
  margin-top: 42px;

  & .actionButton {
    width: 100%;
  }
}
