.footer {
  padding: 48px 48px 32px 48px;

  @media (--smallDown) {
    padding: 80px 16px 56px 16px;    
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.top {
  margin-bottom: 40px;
}

.logo {
    @media (--smallDown) {
    display: none;
  }
}