.ant-btn.ant-btn {
  display: block;
  height: auto;
  
  text-align: center;
  white-space: normal;
  border: none;

  &::after {
    display: none !important; 
  }

  & > span {
    display: block;

  }

  &[disabled] {
    opacity: 0.4;
  }
}

.ant-btn-primary.ant-btn-primary {
  color: #ffffff;
  background-color: var(--color-primary);
  box-shadow: inset 0 1px 1px 0.5px rgba(255, 255, 255, 0.1), 0 3px 8px rgba(60, 84, 238, 0.2);

  &:active {
    color: #ffffff;
    background-color: var(--color-hover);
  }


  &[disabled] {
    color: #ffffff !important;
    background-color: var(--color-primary) !important;
  }
}

.ant-btn-secondary.ant-btn-secondary {
  color: var(--color-link);
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 1px rgba(60,84,238, 0.65);

  &:hover, &:focus {
    color: var(--color-link);
    border-color: var(--color-primary);
  }

  &:active {
    background-color: rgba(60,84,238,0.08);
  }


  &[disabled] {
    color: var(--color-link) !important;
    background-color: #ffffff !important;
  }

  &.ant-btn-s.ant-btn-s {
    border-color: rgba(60,84,238, 0.6);
  }
}

.ant-btn-extra.ant-btn-extra {
  color: var(--text-color-primary);
  background-color: #E8E9F2;
  border: 1px solid #DCDCE7;

  &:hover, &:focus {
    color: var(--text-color-primary);
    background-color: #DCDCE7;
    border: 1px solid #DCDCE7;
  }

  &:active {
    color: var(--text-color-primary);
    background-color: #D0D0DB;
    border: 1px solid #DCDCE7;
  }


  &[disabled] {
    color: var(--text-color-primary) !important;
    background-color: #E8E9F2;
    border: 1px solid #DCDCE7;

    &:hover, &:focus {
      background-color: #E8E9F2;
    }
  }
}


.ant-btn-xl.ant-btn-xl {
  max-width: 300px;
  padding: 17px 36px 19px 36px !important;
  font: var(--text18-28) !important;
  border-radius: 8px;

  @media (--smallDown) {
    padding: 11px 28px 13px 28px !important;
    font: var(--text16-24) !important;
    line-height: 24px !important;
  }
}

.ant-btn-l.ant-btn-l {
  max-width: 300px;
  padding: 11px 28px 13px 28px !important;
  font: var(--text16-24) !important;
  border-radius: 6px;
}

.ant-btn-m.ant-btn-m {
  padding: 8px 20px !important;
  font: var(--text16-24) !important;
  line-height: 24px !important;
  border-radius: 6px;
}

.ant-btn-s.ant-btn-s {
  padding: 5px 16px 7px 16px !important;
  font: var(--text14-20) !important;
  border-radius: 4px;
}


.loading.loading.loading.loading {
  position: relative;
}

.loader {
  position: absolute;
  top: calc(50% - 10px);
  right: 8px;
  width: 24px;
  height: 24px;
  animation: rotate 2s linear infinite;
}

.hidden {
  display: none;
}

@keyframes rotate { 
  100% { 
      transform:rotate(360deg); 
    } 
  }