// COLORS
@primary-color: #3c54ee; // primary color for all components
@link-color: #2d47ea; // link color
@success-color: #19cd92; // success state color
@error-color: #f11635; // error state color
@background-color-light: hsv(
  0,
  0,
  98%
); // background of header and selected item
@background-color-base: hsv(0, 0, 96%); // Default grey background color
// FONTS
@heading-color: var(--text-color-primary);
@text-color: var(--text-color-primary);
@text-color-secondary: #82839b;
@font-size-base: 16px; // major text font size
//OTHER
@border-radius-base: 8px;
@border-radius-sm: 4px;
// STATES
// Disabled
@disabled-color: fade(#000, 25%);
@disabled-bg: fade(@primary-color, 60%); // equivalent to opacity: 0.4;
@disabled-color-dark: fade(#fff, 35%);
// COMPONENTS
// Checkbox
@checkbox-size: 20px;
@checkbox-color: @primary-color;
@checkbox-check-color: #fff;
// Form
@form-item-margin-bottom: 24px;

.ant-form-vertical .ant-form-item {
  padding: 0;
}

.ant-notification-notice {
  padding: 12px 16px;
}
.ant-notification-notice-close {
  top: 12px;
}

.ant-notification-notice-message {
  margin-bottom: 0;
  font: var(--text16-24);
}

.radioButtonStyle__Button .ant-radio-group.ant-radio-group .ant-radio-wrapper {
  margin-right: 4px !important;
  white-space: nowrap !important;
}