.gl-wrapper {
  max-width: 928px;
  margin: 0 auto;

  @media (max-width: 832px) {
    padding: 0 16px 0;
  }

  @media (max-width: 767px) {
    max-width: none;
  }
}

.gl-wrapper--narrow {
  max-width: 768px;
  margin: 0 auto;

  @media (max-width: 832px) {
    padding: 0 16px 0;
  }

  @media (max-width: 767px) {
    max-width: none;
  }
}

.gl-section {
  padding-bottom: 96px;
  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 56px;
  }
}

.gl-text {
  max-width: 768px;
  margin-bottom: 32px;

  & p {
    margin: 0;
    font: var(--text18-28);
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: var(--color-primary);
  }

  @media (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.gl-first-section {
  padding-top: 64px;
  @media (max-width: 767px) {
    padding-top: 40px;
  }
}

.gl-sectionTitle {
  padding-bottom: 32px;
  margin: 0;
  font: var(--title-regular);

  @media (max-width: 767px) {
    padding: 0 0 24px 0;
    font: var(--title-medium);
    text-align: left;
  }
}

.gl-pageTitle {
  margin: 0 auto 32px;
  font: var(--title-extra);

  @media (max-width: 767px) {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 36px;
  }
}

.gl-formContainer {
  padding: 32px 80px 64px;
  background: #ffffff;
  border: 1px solid rgba(21, 24, 51, 0.04);
  box-shadow: 0px 32px 40px rgba(0, 9, 92, 0.12);
  flex-grow: 1;
  flex-shrink: 1;

  @media (max-width: 767px) {
    padding: 24px 16px 40px 16px;
  }
}

.gl-formContainer form {
  max-width: 448px;
}
