.animEntered {
  transform: translateX(0);
}

.animExiting,
.animEntering {
  transform: translateX(100%);
}

.menuWrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 288px;
  z-index: 200;
  transition: transform 250ms ease-out;
  will-change: transform;
}
