.plate {
  padding: 16px;
  margin-bottom: 24px;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(63,63,68,0.04), 0 1px 3px 0 rgba(63,63,68,0.16);

  @media (--smallDown) {
    padding: 32px 16px 48px;
  }
}