.radio {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.input {
  display: none;
}

.input:checked + .label {
  color: #fff;
  background-color: var(--text-color-secondary);
}

.label {
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  transition: background-color, color 0.2s ease-in;
}
