.button {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 28px;

  &[disabled] {
    opacity: 0.4;
  }
}



/* kind */

.primary {
  transition: border-color 0.2s, background-color 0.2s;
  color: #fff;
  background-color: var(--color-primary);

  &:hover {
    color: #fff;
  }
  
  &:hover:enabled,
  &:focus:enabled {
    background-color: #354ad4;
  }
  &:active:enabled {
    background-color: #2f41ba;
  }
}

.secondary {
  transition: border-color 0.2s, background-color 0.2s;
  color: var(--color-link);
  border: 1px solid rgba(60, 84, 238, 0.65);
  &:hover:enabled,
  &:focus:enabled {
    border-color: var(--color-primary);
  }
  &:active:enabled {
    background-color: rgba(60, 84, 238, 0.08);
  }
}

.extra {
  transition: border-color 0.2s, background-color 0.2s;
  color: var(--color-text-primary);
  background-color: var(--color-inactive);
  border: 1px solid #dcdce7;
  box-shadow: inset 0 1px 1px 0.5px rgba(255, 255, 255, 0.25),
    0 1px 2px 0 rgba(0, 0, 0, 0.04);
  &:hover:enabled,
  &:focus:enabled {
    background-color: #dcdce7;
  }
  &:active:enabled {
    background-color: #d0d0db;
    box-shadow: inset 0 1px 3px 0 rgba(21, 24, 51, 0.1);
  }
}

/* size */

.extra-large {
  transition: border-color 0.2s, background-color 0.2s;
  padding: 17px 36px 19px 36px;
  box-shadow: none;

  font: var(--text18-28);
  @media (--smallDown) {
    padding: 11px 28px 13px 28px;
    font: var(--text16-24);
    line-height: 24px;
    box-shadow: none;
  }
}

.large {
  padding: 12px 28px;
}

.medium {
  padding: 12px 28px;
  font: var(--text16-24);
}

.small {
  padding: 8px 16px;
  font: var(--text16-24);
}

.super {
  background-color: #ffd46d;
}

.extra-large {
  transition: border-color 0.2s, background-color 0.2s;

  box-shadow: none;

  padding: 18px 32px !important;
  width: 100%;
  max-width: initial;
  font: var(--text-18-28);

  border-radius: 0;
}

.buttonIcon {
 /* width: 48px;
  height: 48px;*/
  margin-left: 16px;

  @media (--smallDown) {
  /*  width: 32px;
    height: 32px;*/
  }
}

.large .buttonIcon {
  width: 40px;
  height: 40px;
  margin: -3px 0 3px 16px;

  @media (--smallDown) {
    width: 24px;
    height: 24px;
  }
}