.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 48px;

  @media (--mediumDown) {
    padding: 0 16px;

    padding-top: 8px;
  }
}

.headerWrapper {
  display: block;
}

.logo.logo.logo {
  max-height: 96px;

  @media (--smallDown) {
    max-height: 48px;
  }
}

.mobileMenu {
  display: none;

  @media (--mediumDown) {
    display: block;
  }
}
.desktopMenu {
  display: block;
  @media (--mediumDown) {
    display: none;
  }
}
