.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 48px;
}

.menu {
  display: flex; 
  align-items: center; 

  @media (max-width: 767px) {
    display: none;
  }
}

.link {
  margin-right: 32px;
}