.footer {
  padding: 48px 48px 32px 48px;
  background-color: #fff;

  @media (--mediumDown) {
    padding: 80px 16px 56px 16px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.top {
  margin-bottom: 40px;

  @media (--mediumDown) {
    display: flex;
    flex-direction: column;
  }
}

.logoWrapper {
  @media (--mediumDown) {
    margin-bottom: 16px;
  }
}
