.steps {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;

  @media (--smallDown) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    margin-left: 0;
    padding: 0;
  }
}

.wrap {
  padding-top: 64px;
  padding-bottom: 96px;

  @media (--smallDown) {
    padding: 0 16px;
  }
}

.title {
  font: var(--title-regular);
  margin-bottom: 40px;
  max-width: 700px;

  @media (--smallDown) {
    font: var(--title-medium);
    margin-bottom: 16px;
  }
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--smallDown) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.text {
  margin-bottom: 0;
  white-space: pre-line;
  text-align: center;
  max-width: 260px;
  font: var(--text18-28);
}

.img {
  width: 176px;
  margin-bottom: 12px;
}

.link {
  padding: 4px;
  background-color: var(--color-primary);
  border-radius: 4px;
  color: #fff;

  &:hover {
    color: #fff !important;
  }
}
