.footer {
  padding: 48px 48px 32px 48px;

  @media (max-width: 767px) {
    padding: 80px 16px 56px 16px;    
  }
}

.row {
  display: flex;
  justify-content: space-between;
}

.bottom {
  font: var(--text14-20);

  & .infoLink {
    font: var(--text14-20);
  }

  @media (max-width: 767px) {    
    flex-direction: column;
    font: var(--text12-16);

    & .infoLink {
    font: var(--text12-16);
    }
  }
}

.copyright {
  padding-right: 24px;
  color: #616681;

  @media (max-width: 767px) { 
    padding-right: 8px;
  }
}

.secondaryText {
  color: #616681;
}

.oncohelp {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.breadhead {
  align-self: center;
}