.form {
  padding: 8px 64px 40px 64px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 560px;

  @media (--smallDown) {
    width: 100%;
  }
}

.title {
  margin-bottom: 8px;
  font: var(--title-medium);
}

.radioBlock {
  padding: 24px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(21, 24, 51, 0.12);
  }
}

.comment {
  margin-bottom: 24px;
}

.button {
  align-self: flex-end;
}
