.form {
  padding: 48px 80px 56px 80px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 8px;
  font: var(--title-medium);
}

.radioBlock {
  padding: 24px 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(21,24,51,0.12);
  }
}

.submit {
  align-self: flex-end;
}