.image {
  margin: 32px auto 0 auto;
  object-fit: cover;

  @media (--smallDown) {
    margin: 24px auto 0 auto;
  }
}
.large {
  width: 100%;
}

.medium {
  width: 600px;
}
.small {
  width: 300px;
}
