.main.main {
  position: relative;
  width: 100%;
  max-width: 928px;
  padding: 64px 0 88px;
  text-align: left;

  @media (--mediumDown) {
    padding: 0 16px;
  }

  @media (--smallDown) {
    padding: 32px 16px 56px 16px;
    margin-bottom: -48px;
  }
}

.title {
  margin: 0 0 40px 0;
  font: var(--title-extra);
  text-align: center;

  @media (--smallDown) {
    margin: 0 0 24px 0;
  }
}
