.rating {
  font-size: 32px;
  height: 32px;
  margin: 0;
}

.buttonsContainer {
  margin-bottom: 40px;

  @media (--smallDown) {
    max-width: 300px;
  }
}

.answer {
  font-size: 32px;
  height: 32px;
  margin: 0;
}

.active {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}
