.header {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;

  @media (--smallDown) {
    padding: 0 16px 16px;
    margin: 0;
  }
}

.number {
  margin-right: 16px;
  font: var(--title-bold);
}

.title {
  margin: 0 16px 0 0;
  font: var(--title-regular);
}

.printButton {
  @media (--smallDown) {
    display: none;
  }
}

.button {
  background-color: transparent;
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--color-link);
}

.linkWrapper {
  display: flex;
  align-items: center;
}