/* Icons from directory "" */
.icon-24x24_arrow-big-back,.icon-24x24_arrow-big-back\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-24x24_arrow-big-back-dims{width:24px;height:24px}
.icon-24x24_arrow-big-up,.icon-24x24_arrow-big-up\:regular{background-image:url('icons/icons.svg');background-position:0 -24px;background-repeat:no-repeat}
.icon-24x24_arrow-big-up-dims{width:24px;height:24px}
.icon-24x24_arrow-small-select_down_grey,.icon-24x24_arrow-small-select_down_grey\:regular{background-image:url('icons/icons.svg');background-position:0 -48px;background-repeat:no-repeat}
.icon-24x24_arrow-small-select_down_grey-dims{width:24px;height:24px}
.icon-24x24_arrow-small_right_blue,.icon-24x24_arrow-small_right_blue\:regular{background-image:url('icons/icons.svg');background-position:0 -72px;background-repeat:no-repeat}
.icon-24x24_arrow-small_right_blue-dims{width:24px;height:24px}
.icon-24x24_arrow-small_right_grey,.icon-24x24_arrow-small_right_grey\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-24x24_arrow-small_right_grey-dims{width:24px;height:24px}
.icon-24x24_attach-file,.icon-24x24_attach-file\:regular{background-image:url('icons/icons.svg');background-position:0 -120px;background-repeat:no-repeat}
.icon-24x24_attach-file-dims{width:24px;height:24px}
.icon-24x24_away-link,.icon-24x24_away-link\:regular{background-image:url('icons/icons.svg');background-position:0 -144px;background-repeat:no-repeat}
.icon-24x24_away-link-dims{width:24px;height:24px}
.icon-24x24_burger-menu,.icon-24x24_burger-menu\:regular{background-image:url('icons/icons.svg');background-position:0 -168px;background-repeat:no-repeat}
.icon-24x24_burger-menu-dims{width:24px;height:24px}
.icon-24x24_cancel-consult,.icon-24x24_cancel-consult\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-24x24_cancel-consult-dims{width:24px;height:24px}
.icon-24x24_cancel-red,.icon-24x24_cancel-red\:regular{background-image:url('icons/icons.svg');background-position:0 -216px;background-repeat:no-repeat}
.icon-24x24_cancel-red-dims{width:24px;height:24px}
.icon-24x24_close_light,.icon-24x24_close_light\:regular{background-image:url('icons/icons.svg');background-position:0 -240px;background-repeat:no-repeat}
.icon-24x24_close_light-dims{width:24px;height:24px}
.icon-24x24_consultation-new_blue,.icon-24x24_consultation-new_blue\:regular{background-image:url('icons/icons.svg');background-position:0 -264px;background-repeat:no-repeat}
.icon-24x24_consultation-new_blue-dims{width:24px;height:24px}
.icon-24x24_download_light,.icon-24x24_download_light\:regular{background-image:url('icons/icons.svg');background-position:0 -288px;background-repeat:no-repeat}
.icon-24x24_download_light-dims{width:24px;height:24px}
.icon-24x24_edit,.icon-24x24_edit\:regular{background-image:url('icons/icons.svg');background-position:0 -312px;background-repeat:no-repeat}
.icon-24x24_edit-dims{width:24px;height:24px}
.icon-24x24_input-valid_green,.icon-24x24_input-valid_green\:regular{background-image:url('icons/icons.svg');background-position:0 -336px;background-repeat:no-repeat}
.icon-24x24_input-valid_green-dims{width:24px;height:24px}
.icon-24x24_loading_light,.icon-24x24_loading_light\:regular{background-image:url('icons/icons.svg');background-position:0 -360px;background-repeat:no-repeat}
.icon-24x24_loading_light-dims{width:24px;height:24px}
.icon-24x24_location_light,.icon-24x24_location_light\:regular{background-image:url('icons/icons.svg');background-position:0 -384px;background-repeat:no-repeat}
.icon-24x24_location_light-dims{width:24px;height:24px}
.icon-24x24_mail_light,.icon-24x24_mail_light\:regular{background-image:url('icons/icons.svg');background-position:0 -408px;background-repeat:no-repeat}
.icon-24x24_mail_light-dims{width:24px;height:24px}
.icon-24x24_my-consultation,.icon-24x24_my-consultation\:regular{background-image:url('icons/icons.svg');background-position:0 -432px;background-repeat:no-repeat}
.icon-24x24_my-consultation-dims{width:24px;height:24px}
.icon-24x24_new-message,.icon-24x24_new-message\:regular{background-image:url('icons/icons.svg');background-position:0 -456px;background-repeat:no-repeat}
.icon-24x24_new-message-dims{width:24px;height:24px}
.icon-24x24_phone_light,.icon-24x24_phone_light\:regular{background-image:url('icons/icons.svg');background-position:0 -480px;background-repeat:no-repeat}
.icon-24x24_phone_light-dims{width:24px;height:24px}
.icon-24x24_plus,.icon-24x24_plus\:regular{background-image:url('icons/icons.svg');background-position:0 -504px;background-repeat:no-repeat}
.icon-24x24_plus-dims{width:24px;height:24px}
.icon-24x24_print_light,.icon-24x24_print_light\:regular{background-image:url('icons/icons.svg');background-position:0 -528px;background-repeat:no-repeat}
.icon-24x24_print_light-dims{width:24px;height:24px}
.icon-24x24_search,.icon-24x24_search\:regular{background-image:url('icons/icons.svg');background-position:0 -552px;background-repeat:no-repeat}
.icon-24x24_search-dims{width:24px;height:24px}
.icon-24x24_send-message,.icon-24x24_send-message\:regular{background-image:url('icons/icons.svg');background-position:0 -576px;background-repeat:no-repeat}
.icon-24x24_send-message-dims{width:24px;height:24px}
.icon-24x24_settings_white,.icon-24x24_settings_white\:regular{background-image:url('icons/icons.svg');background-position:0 -600px;background-repeat:no-repeat}
.icon-24x24_settings_white-dims{width:24px;height:24px}
.icon-24x24_success_green,.icon-24x24_success_green\:regular{background-image:url('icons/icons.svg');background-position:0 -624px;background-repeat:no-repeat}
.icon-24x24_success_green-dims{width:24px;height:24px}
.icon-24x24_user,.icon-24x24_user\:regular{background-image:url('icons/icons.svg');background-position:0 -648px;background-repeat:no-repeat}
.icon-24x24_user-dims{width:24px;height:24px}
.icon-24x24_view,.icon-24x24_view\:regular{background-image:url('icons/icons.svg');background-position:0 -672px;background-repeat:no-repeat}
.icon-24x24_view-dims{width:24px;height:24px}
.icon-32x32_chat,.icon-32x32_chat\:regular{background-image:url('icons/icons.svg');background-position:0 -696px;background-repeat:no-repeat}
.icon-32x32_chat-dims{width:32px;height:32px}
.icon-32x32_chat_new-message,.icon-32x32_chat_new-message\:regular{background-image:url('icons/icons.svg');background-position:0 -728px;background-repeat:no-repeat}
.icon-32x32_chat_new-message-dims{width:32px;height:32px}