.text {
  margin: 0;
  align-self: flex-start;
}

.hint {
  margin: 0 0 12px 0;
  color: #82839b;
  align-self: flex-start;
}

.buttonsContainer {
  margin-bottom: 12px;
}

.finalText {
  margin: 0;
}

.title {
  max-width: 604px;
  margin: 0 0 40px 0;
  font: var(--title-medium);
  text-align: center;
}
