.text {
  margin: 0 0 8px 0;
  align-self: flex-start;
  font: var(--title-tiny);
}

.hint {
  margin: 0 0 32px 0;
  color: #82839b;
  align-self: flex-start;
  font-size: 14px;
}

.buttonsContainer {
  margin-bottom: 40px;
}

.finalText {
  margin: 0;
}

.title {
  max-width: 604px;
  margin: 0 0 40px 0;
  font: var(--title-medium);
  text-align: center;
}
