.button.button {
  width: 100%;
  max-width: none !important;
  padding: 16px 36px;
  margin-top: 48px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @media (--smallDown) {
    align-items: flex-start;
  }
}

.error {
  position: absolute;
  z-index: 5;
  margin-top: -11px;
  font: var(--text14-20);
  color: var(--color-danger);
}
