.historyComboContainer {
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-right: 0;
  }
}

.historyComboWrapper.historyComboWrapper {
  width: 232px;
  margin-top: 16px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (--mediumSecondDown) {
    width: 170px;
  }

  @media (--smallDown) {
    width: 232px;
  }

  @media (--smallSecondDown) {
    width: 170px;
  }

  @media (--xsmallDown) {
    width: 42vw;
  }
}

.historyCombo {
  @media (--smallDown) {
    width: 100%;
  }
}

.historyComboSingle {
  width: 100%;
}

.checkbox {
  margin-top: 8px;
}

.hidden {
  display: none !important;
}
