.iconWrapper {
  border-bottom: none;
  display: flex;
  align-items: baseline;
}

.iconWrapper svg {
}

.logoDesktop {
  width: 208px;
  height: 24px;
  @media (--smallDown) {
    display: none;
  }
}
.logoMobile {
  width: 174px;
  height: 20px;
  @media (--smallUp) {
    display: none;
  }
}
