.controls {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 48px;
  margin-bottom: 64px;

  & > * {
    margin-left: 12px;
  }
}

.cancel {
  margin-right: auto;
  order: 1;
  margin-left: 0;
}
