.controls {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 48px;
  margin-bottom: 64px;

  & > * {
    margin-left: 12px;
  }
}

.textarea {
  margin-bottom: 12px;
  white-space: pre-line;
}
