.NavIcon {
  display: none;
  width: 24px;
  height: 24px;
  fill: var(--text-color-secondary);

    @media (--smallDown) {
      display: inline-block;
    }
}

.long {
    @media (--mediumDown) {
      display: inline-block;
    }
}