.page {
  background-color: #fff !important;
}

.mainHeader {
  background-color: #fff !important;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.image {
  align-self: center;
  width: 192px;
}

.title {
  margin-bottom: 28px;
  font: var(--title-medium);
  text-align: center;

  @media (--smallDown) {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}

.text {
  max-width: 510px;
  margin: auto;
  text-align: center;

  @media (--smallDown) {
    padding: 0 16px;
  }
}

.progressBar.progressBar {
  margin-bottom: 36px;
}

.registrationDisclamer {
  max-width: 286px;
  color: #82839B;
  font-size: 14px;
  margin: 0 auto;
  line-height: 20px;
  text-align: center;
}

.repeatTestButton {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;


  line-height: 28px;
  display: block;
  margin: 0 auto;
  color: #2D47EA;

  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 28px;
  text-align: center;
}