.wrapper {
  display: flex;
  justify-content: flex-start;

  @media (--largeDown) {
    display: block;
  }
}

.main {
  margin-right: 102px;

  @media (--largeDown) {
    margin: 0 auto;
    margin-right: auto;
  }
}

.mainContainer {
  padding-left: 16px;
  padding-right: 16px;

  @media (--largeDown) {
    padding-left: 0;
    padding-right: 0;
  }
}

.asideWrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;

  @media (--largeDown) {
    display: none;
  }
}

.dividerMobile {
  display: none;

  @media (--largeDown) {
    display: block;
  }
}
