.ant-select {
  width: 100%;
  border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 0 0 1px #d9d9d9;
}

.ant-select-selection {
  height: auto;
  padding: 14px 16px;
  font: var(--text16-24);
  border: none !important;

  &:hover {
    border: none !important;
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  &:focus {
    box-shadow: none;
  }
}

.placeholder-pale div {
  color: #bfbfbf;
}

.ant-select-selection--single {
  height: auto !important;
}

.ant-select-selection__rendered {
  margin: 0;
  line-height: initial;
  line-height: 20px !important;
}

.ant-select-open .ant-select-selection {
  border: none;
  box-shadow: 0px 0px 0px 2px blue;
}

.ant-select-dropdown {
  padding: 8px 0;
  box-shadow: 0 0 1px 1px rgba(21, 24, 51, 0.04),
    0 4px 12px 0 var(--divider-color);
}

.ant-select-dropdown-menu-item {
  padding: 8px 16px !important;
  font: var(--text16-24);
  white-space: initial !important;

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &:hover {
    background-color: #f7f6f2;
  }
}

.ant-select-dropdown-menu-item-selected {
  font-weight: 600;
  background-color: #fff;
}

.ant-select-dropdown-menu-item-active {
  background-color: #f7f6f2;
}

.ant-select-selection-selected-value {
  position: relative;
  max-width: 98%;
  text-overflow: clip;
}

.ant-select-disabled .ant-select-selection {
  color: var(--color-default);
  background-color: #efeff4;
}

.ant-select-disabled .ant-select-selection-selected-value {
  &::after {
    display: none;
  }
}

.error {
  & .ant-select-selection {
    box-shadow: 0 0 0 1px var(--color-danger) !important;
  }
}
