.footer {
  padding: 24px 48px 32px 48px;
  background-color: #fff;
  border-top: 1px solid var(--divider-color);

  @media (--smallDown) {
    padding: 16px 16px 20px 16px;
  }
}

.white {
  background-color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;

  @media (--smallDown) {
    flex-direction: column;
  }
}

.logo {
  @media (--smallDown) {
    height: 40px;
  }
}

.logoWrapper {
  @media (--smallDown) {
    align-self: flex-start;
    max-height: 40px;
    margin-bottom: 16px;
  }
}
