.button {
  display: block;
  width: 38px;
  height: 27px;
  margin-left: auto;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.icon {
  width: 24px;
  height: 24px;
}