.panel {
  display: flex;
  padding: 16px 8px;
  position: relative;
  z-index: 3;
  @media (--smallDown) {
    justify-content: flex-end;
  }
}

.button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--color-default);
  padding: 4px;
  border-radius: 8px;
  box-sizing: content-box;
  &:first-child {
    margin-right: 16px;
  }
  &:hover,
  &:active {
    background-color: rgba(191, 191, 191, 0.1);
  }
}

.icon {
  width: 24px !important;
  height: 26px !important;
}

.rightIcon {
  transform: scaleX(-1);
}
