.bubble {
  background-color: var(--color-bubble);
  padding: 12px 16px 12px 20px;
  border-radius: 36px 20px 20px 0px;
  animation: fade 1s ease-in;
  font: var(--text16-24);
  display: inline-block;

  @media (--mediumSecondDown) {
    padding: 12px 12px 12px 16px;
    font: var(--text14-20);
    margin-right: 42px;
  }
}

.hint {
  animation: fade 1s ease-in;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}