.Modal {
  position: relative;

  z-index: 25;
  display: block;
  min-width: 400px;
  min-height: 240px;

  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(63, 63, 68, 0.04),
    0 0 20px 0 rgba(63, 63, 68, 0.12);

  @media (--smallDown) {
    width: 100%;
    min-width: auto;
    max-width: auto;
    padding: 16px 0 0;
    border-radius: 0;
  } 
}
