.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 400px;
  max-width: 400px;
  min-height: 400px;
  max-height: calc(100% - 50px);
  padding: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(63, 63, 68, 0.04),
    0 0 20px 0 rgba(63, 63, 68, 0.12);
  transform: translate(-50%, -50%);

  @media (--smallDown) {
    width: 100%;
    min-width: auto;
    max-width: auto;
    padding: 16px 0 0;
    border-radius: 0;
  }
}
