.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;

  @media (--smallDown) {
    flex-direction: column;
    width: 100vw;
    padding: 0 16px;
    margin-bottom: 48px;
  }
}

.logo {
  width: 79px;

  @media (--smallDown) {
    margin-bottom: 16px;
  }
}

.topic {
  flex-basis: 50%;
  text-align: left;

  @media (--smallDown) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 24px;
  }
}

.title {
  margin-bottom: 16px;
  font: var(--title-regular);

  @media (--smallDown) {
    margin-bottom: 0;
  }

}

.reasons {
  flex-basis: 50%;
}

.reason {
  padding: 12px 20px;
  margin: 0 0 12px 0;
  text-align: left;
  background-color: #F7F6F2;
  border-radius: 16px 16px 16px 0;

  &:last-of-type {
    margin-bottom: 24px;
  }
}