.container {
  --animation-duration: 0.3s;

  display: block;
  width: 94px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  border-radius: 22px;
  transition: background-color var(--animation-duration);

  &::after {
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 2px;
    content: "";
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0.5px 1px 0 rgba(21,24,51,0.08), 0 1px 3px 0 rgba(21,24,51,0.16);
    transition: left var(--animation-duration);
  }
}

.checked {
  background-color: #3C54EE;

  &::after {
    left: 62px;
  }
}

.unchecked {
  background-color: #E8E9F2;

  &::after {
    left: 8px
  }
}

.checkbox {
  opacity: 0;
}