.form {
  position: relative;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;

  @media (--smallDown) {
    width: 100%;
    padding: 0;
    margin-top: 24px;
  }
}

.title {
  margin: 0 0 24px 0;
  font: var(--title-medium);
}

.article {
  position: relative;
  padding: 48px 160px 56px 160px;
  font: var(--text16-24);
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(21, 24, 51, 0.2);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--divider-color);
  }

  @media (--smallDown) {
    padding: 32px 16px 48px;
  }

  & .button.button {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;

    @media (--smallDown) {
      max-width: 328px;
    }
  }
}

.articleContacts {
  padding-bottom: 56px;

  @media (--smallDown) {
    padding-bottom: 40px;
  }
}

.footer {
  position: relative;
  &::after {
    display: none;
  }

  @media (--smallDown) {
    padding: 32px 20px 32px 20px;
  }
}

.label {
  display: block;
  margin: 0 0 8px 0;
  line-height: 1.5;
  color: var(--text-color-primary);
}

.emergingLabel {
  z-index: 1;
  margin-top: 0;
  margin-bottom: 8px;
}

.secondaryText {
  color: #82839b;
}

.field {
  margin-top: 24px;
}

.iconBack {
  margin-right: 4px;
  fill: var(--color-primary);
  transform: rotate(180deg);
}
.iconForward {
  margin-right: 4px;
  fill: var(--color-primary);
}

.footerBack,
.footerForward {
  display: flex;
  align-items: center;
  margin-top: 48px;

  @media (--smallDown) {
    margin-top: 32px;
  }
}

.draftContainer {
  position: absolute;
  top: 112px;
  display: flex;
  align-items: center;
}

.draftNotification {
  font: var(--text16-24);
  color: #82839b;
}

.iconSuccess {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.button {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 40px;

  @media (--smallDown) {
    max-width: 328px;
  }
}

.symptomsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.symptomsRadioGroup div {
  @media (--mediumDown) {
    display: grid !important;
    gap: 12px;
  }
}
