.expertCard {
  text-align: center;
  animation: fade 1s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  color: var(--text-color-primary);

  @media (--smallDown) {
    width: auto;
  }
}

.expertCard .link {
  white-space: normal;
  border-bottom: 0;
  
  &:hover {
    border-bottom: 0;
  }

  &:active {
    border-bottom: 0;
  }

  &:focus {
    border-bottom: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.image {
  width: 160px;
  height: 160px;
  max-height: 100%;
  object-fit: contain;
  margin: 0 0 16px 0;
  border-radius: 50%;
  object-fit: cover;

  @media (--smallDown) {
    margin: 0 0 12px 0;
    width: 128px;
    height: 128px;
  }
}

.name {
  margin: 0 0 8px 0;

  @media (--smallDown) {
    margin: 0 0 4px 0;
    font: var(--text14-20);
  }
}

.specialization {
  margin: 0;
  font: var(--text14-20);
  color: var(--text-color-secondary);
}
