.logo {
  flex-shrink: 0;
  width: 238px !important;
  height: 48px !important;

  @media (--smallDown) {
    display: none;
    height: 34px !important;
    width: 170px !important;
  }
}

.logoMobile.logoMobile {
  display: none;
  height: 34px !important;
  width: 170px !important;

  @media (--smallDown) {
    display: flex;
  }
}

.logoWrapper {
  max-width: 238px !important;
  max-height: 48px !important;
  cursor: pointer;

  @media (--smallDown) {
    height: 34px !important;
    width: 170px !important;
  }
}
