.logo {
  flex-shrink: 0;
  width: 238px !important;
  height: 48px !important;

  @media (--smallDown) {
    display: none;
  }
}

.logoMobile.logoMobile {
  display: none;
  width: 135px;
  height: 34px;
  
  @media (--smallDown) {
    display: flex;
  }
}

.logoWrapper {
  max-width: 238px !important;
  max-height: 48px !important;
  cursor: pointer;

  @media (--smallDown) {
    width: 135px;
    height: 34px;
  }
}
