.logo {
  flex-shrink: 0;
  width: 238px !important;
  height: 48px !important;

  @media (--smallDown) {
    width: 198px;
    height: 40px;
  }
}

.logoWrapper {
  max-width: 238px !important;
  max-height: 48px !important;
  cursor: pointer;

  @media (--smallDown) {
    max-width: 198px;
    max-height: 40px;
  }
}
