.blockGettingCode {
  display: flex;
  align-items: center;

  & > * {
    margin-bottom: 32px;
  }
}

.messageCodeSent {
  display: inline-flex;
  align-items: center;
  font: var(--text14-20);
  color: var(--color-success);
}

.inputWrapper {
  margin-bottom: 16px;
}

.button {
  margin-right: 16px;
}