.waitingAnswer {

  @media (max-width: 767px) {
    padding: 0 16px 80px 16px;
  }
}

.logo {
  margin-bottom: 28px;
}

.title {
  margin-bottom: 28px;
  font: var(--title-medium);

  @media (max-width: 767px) {
    margin-bottom: 16px;
  }
}

.text {
  max-width: 560px;
  margin: 0;
}