.label {
  display: block;
  margin: 0;
  margin-bottom: 4px;
  line-height: 1.5;
  color: var(--text-color-primary);
}

.button {
  display: block;
  width: 100%;

  margin: 0 auto;

  @media (--smallDown) {
    max-width: 328px;
  }
}

.largeButton {
  margin-top: 24px;
  padding: 18px 32px !important;
  width: 100%;
  max-width: initial;
  font: var(--text-18-28);

  border-radius: 0;
}

.field.field.field {
  margin-bottom: 12px;
}

textarea.field {
  min-height: 132px !important;
}
