.button {
  display: block;
  margin: 0;
  padding-top: 34px !important;
  padding-bottom: 34px !important;
  width: 100%;

  @media (--smallDown) {
    padding-top: 17px !important;
    padding-bottom: 19px !important;
  }
}
