.waitingAnswer {
  padding: 48px 0 120px 0;
  background-color: #fff;

  @media (--smallDown) {
    padding: 24px 16px 80px 16px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.title {
  margin-bottom: 28px;
  font: var(--title-medium);
  text-align: center;

  @media (--smallDown) {
    padding: 0 16px;
    margin-bottom: 16px;
  }
}

.text {
  max-width: 560px;
  margin: auto;
  text-align: center;

  @media (--smallDown) {
    padding: 0 16px;
  }
}

.progressBar.progressBar {
  margin-bottom: 36px;

  @media (--smallDown) {
    width: 272px;
  }
}