.settings {
  display: grid;
  grid-template-rows: 48px 48px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 12px;
  gap: 12px;
}

.rowEnd {
  justify-self: end;
}

.allRow {
  grid-column-start: 1; 
  grid-column-end: 3;
}
