.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 924px;
  margin: 0 auto;

  @media (--smallDown) {
    grid-template-columns: 1fr;
    gap: 4px;
  }
}

.first {
  justify-self: end;

  @media (--smallDown) {
    width: 100%;
    justify-self: center;

    & button {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      width: 100%;
      font: var(--text18-28) !important;
    }
  }
}

.last {
  justify-self: start;
  @media (--smallDown) {
    width: 100%;
    justify-self: center;

    & button {
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      width: 100%;
      font: var(--text18-28) !important;
    }
  }
}
