.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  max-width: 928px;
  margin: 0 auto;

  @media (--smallDown) {
    grid-template-columns: 1fr;
    gap: 4px;
  }

  & button {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
    justify-content: center;


    @media (--smallDown) {
      padding-top: 16px;
      padding-bottom: 16px;
      font: var(--text18-28) !important;
    }
  }
}

.first {
  justify-self: end;
  width: 100%;

  @media (--smallDown) {
    width: 100%;
    justify-self: center;

    & button {
      width: 100%;
    }
  }
}

.last {
  justify-self: start;
  width: 100%;

  @media (--smallDown) {
    width: 100%;
    justify-self: center;

    & button {
      width: 100%;
    }
  }
}

.image {
  width: 48px;
  height: 48px;
  margin-left: 16px;

  @media (--smallDown) {
    width: 32px;
    height: 32px;
  }
}
