
.navigation {
  margin-bottom: 64px;
  flex-grow: 1;
  max-width: 432px;

  @media (--smallDown) {
    max-width: none;
    margin-bottom: 24px;
  }
}

.mobileNav {
  @media (--smallDown) {
    display: flex;
    flex-direction: column;

    & .link {
      color: var(--color-text-primary); 
      padding-top: 10px;
      padding-bottom: 13px;
      border-top: 1px solid rgba(21,24,51, 0.08);
      margin-right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        border-bottom: 1px solid rgba(21,24,51, 0.08);
      }
    }
  }
}

.link {
  padding: 6px;
}

.desktopWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 432px;
  gap: 0 32px;
}

.stub {
  height: 37px;
  width: 100%;
}