.video {
  position: relative;
  width: 928px;
  height: 488px;
  @media (--largeDown) {
    width: 100vw;
    height: 53vw;
    left: calc(-1 * (100vw - 768px) / 2);
  }

  @media (--smallDown) {
    left: -16px;
  }
}
