.QuotaControl {
  display: flex;
  background-color: white;
  padding: 24px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.13);
}

.AddingInput {
  margin-left: auto;
}

.Form {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.QuotaAvailable {
  color: #417505;
}

.QuotaAmount {
  font-size: 20px;
  margin-right: 24px;
}