.message {
  position: relative;
  max-width: 480px;
  padding: 16px;
  margin: 0 0 12px 0;
  font: var(--text14-20);
  text-align: left;
  background-color: #ffeab7;
  border-radius: 20px;
}

.author {
  display: flex;
  align-items: center;
}

.authorPhoto {
  align-self: flex-start;
  width: 88px;
  margin-right: 16px;
  border-radius: 50%;
}

.textWrapper {
  text-align: left;
}

.authorName {
  margin: 0 0 4px 0;
  font-weight: 500;
}

.authorPosition {
  margin: 0;
  font: var(--text14-20);
  color: var(--text-color-secondary);
}
