.headerWrapper {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  background: var(--color-beige);

  @media (--mediumDown) {
    justify-content: space-between;
    padding: 6px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  transition: box-shadow 0.5s ease-in, transform 0.2s ease-in;
  transform: translate(0, -100%);
 } 


.white {
  background-color: #fff;
}

.show {
  transform: translateY(0);
  opacity: 1;
}

.hide {
  transform: translate(0, -100%);
}


.landing {
  background: #fff;
}

.navContainer {
  width: 100%;
}

.donationMobileLink {
  color: var(--color-primary);
  margin-right: 8px;
}

.mobileMenuContainer {
  display: flex;
  padding-right: 16px;
}

.logo {
  margin-left: 16px;
  margin-right: 16px;

  @media (--mediumDown) {
    margin-left: 0;
  }
}

.burger {
  display: none;
  margin-right: 24px;


  @media (--largeDown) {
    display: block;
  }

  @media (--smallDown) {
    margin-right: 0;
  }
}