.headerWrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  background: var(--color-beige);

  @media (--mediumDown) {
    justify-content: space-between;
    padding: 6px;
  }
}


.narrowHeader {
  box-shadow: 0 0 8px 0 rgba(63, 63, 68, 0.04),
  0 0 20px 0 rgba(63, 63, 68, 0.12);
}

.landing {
  background: #fff;
}

.iconWrapper {
  margin-left: 16px;
  margin-right: 32px;
  width: 156px;
  height: 36px;

  @media (--mediumDown) {
    margin-left: 0;
  }
}

.navContainer {
  width: 100%;
}

.donationMobileLink {
  color: var(--color-primary);
  margin-right: 24px;
}

.mobileMenuContainer {
  display: flex;
}
