.partnersList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 16px;

  @media (--mediumSecondDown) {
    margin-bottom: 0;
    overflow: scroll;
    overscroll-behavior: contain;
    padding-left: 16px;
    margin-left: -16px;
    margin-right: -16px;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
  }
}

.partnersList::-webkit-scrollbar {
  display: none;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 220px;

  @media (--smallDown) {
    padding-right: 16px;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.addPartnerButton {
  position: relative;
  width: 72px;
  height: 72px;
  cursor: pointer;
  background-color: var(--color-highlight);
  border: none;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 2px;
    content: '';
    background-color: #000;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    position: absolute;
    top: 16px;
    left: 50%;
    display: block;
    width: 2px;
    height: 40px;
    content: '';
    background-color: #000;
    transform: translate(-50%);
  }

  @media (--smallDown) {
    width: 64px;
    height: 64px;

    &::after {
      top: 13px;
    }
  }
}

.buttonLabel {
  margin: 0;
  font: var(--text14-20);
  text-align: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (--smallDown) {
    &:first-child {
      padding-left: 16px;
    }
  }
}
