.partnersList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;

  @media (--smallDown) {
    max-width: 100vw;
    margin-bottom: 40px;
    overflow: scroll;
  }
}

.buttonWrapper {  
  @media (--smallDown) {
    padding-right: 16px;
  }
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 112px;
  margin-bottom: 24px;
}

.addPartnerButton {
  position: relative;
  width: 72px;
  height: 72px;
  cursor: pointer;
  background-color: var(--color-highlight);
  border: none;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 2px;
    content: '';
    background-color: #000;
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    position: absolute;
    top: 16px;
    left: 50%;
    display: block;
    width: 2px;
    height: 40px;
    content: '';
    background-color: #000;
    transform: translate(-50%);
  }
}

.buttonLabel {
  margin: 0;
  font: var(--text14-20);
  font-weight: 500;
}
