.container {
  display: flex;
  justify-content: space-between;

  padding-bottom: 16px;
  border-bottom: 1px solid var(--divider-color);
}

.mainInfo {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  column-gap: 24px;
  row-gap: 4px;
  align-items: center;

  @media (--mediumDown) {
    grid-column-gap: 16px;
  }
}

.title {
  margin: 0px;
  font: var(--title-small);
}

.for {
  font: var(--text14-20);
  color: var(--text-color-secondary);
}

.titleWrapper {
  display: flex;
  cursor: pointer;

  &:hover * {
    color: var(--color-hover);
  }

  & > .hoverArrow {
    display: none;
  }

  &:hover > .hoverArrow {
    display: block;
  }
  &:hover > .defaultArrow {
    display: none;
  }
}

.arrow {

  height: 28px;
  margin-left: 8px;
  transform: rotate(180deg);
  @media (--mediumDown) {
    height: 24px;
  }
}
