.doctorsControl {
  max-width: 500px;
  margin: 0 auto 60px;
}

.password {
  display: flex;
  align-items: flex-end;
}

.button {
  margin-top: 24px;
}

.buttonGenerate {
  margin-left: 16px;
}

.passwordError {
  display: block;
  margin-top: 4px;
  font: var(--text14-20);
  color: var(--color-danger);
}
