.footer {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  background-color: var(--background-system);
}

.projects {
  display: flex;

  @media (--smallDown) {
    flex-direction: column;
    margin-bottom: 24px;
  }
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% / 3);

  padding: 16px;

  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;

  margin-bottom: 24px;

  &:last-of-type {
    margin-right: 0;
    border-right: none;
  }

  @media (--mediumSecondDown) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 12px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (--smallDown) {
    border-right: none;
  }
}

.text {
  margin: 0 20px 0 0;
  align-self: flex-start;
  font: var(--text12-16);
  color: var(--text-color-secondary);

  @media (--smallDown) {
    margin: 0 16px 0 0;
  }
}

.logo {
  width: 100%;
  max-width: 136px;
  max-height: 64px;
}

.legal {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mobileButton {
  display: none;

  @media (--smallDown) {
    display: block;
    width: 100%;
    margin-bottom: 24px;

    & button {
      width: 100%;
    }
  }
}
