.wrap {
  padding-bottom: 96px;

  @media (--mediumDown) {
    padding: 40px 16px 56px;
  }
}

.expertsWrapper {
  background-color: #fff;
}

.experts {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  padding: 64px 0;
  margin: 0 auto;

  @media (--smallDown) {
    flex-direction: column;
    padding: 0;
    padding-bottom: 56px;
    margin-left: 0;
  }
}

.textWrapper {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-right: 32px;

  @media (--smallDown) {
    margin-bottom: 32px;
    margin-right: 0;
  }
}

.title {
  margin-bottom: 24px;
  font: var(--title-regular);

  @media (--smallDown) {
    margin-bottom: 16px;
    font: var(--title-medium);
  }
}

.text {
  margin-bottom: 24px;
  font: var(--text18-28);

  @media (--smallDown) {
    margin-bottom: 16px;
  }
}

.link.link.link {
  align-self: flex-start;
  font: var(--text18-28);
}
