.wrap {
  padding-bottom: 96px;
}

.expertsWrapper {
  width: 100vw;
  min-width: 100%;
  margin-left: 50%;
  background-color: #fff;
  transform: translateX(-50%);
}

.experts {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  padding: 64px 0;
  margin: 0 auto;

  @media (--mediumDown) {
    padding: 32px 16px;
  }

  @media (--smallDown) {
    flex-direction: column;
    width: 100vw;
    padding: 40px 16px 48px 16px;
    margin-left: 0;
  }
}

.textWrapper {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  text-align: left;

  @media (--smallDown) {
    margin-bottom: 32px;
  }
}

.title {
  margin-bottom: 24px;
  font: var(--title-regular);

  @media (--smallDown) {
    margin-bottom: 16px;
    font: var(--title-medium);
  }
}

.text {
  margin-bottom: 24px;
  font: var(--text18-28);

  @media (--smallDown) {
    margin-bottom: 16px;
  }
}

.link.link.link {
  align-self: flex-start;
  font: var(--text18-28);
}
