.article {
  box-shadow: 0 24px 40px 0 rgba(21, 24, 51, 0.08);
  transition: all ease-in 0.2s !important;
  padding: 20px 16px;
  min-height: 150px;
  background-color: #fff;
  border: 1px solid rgba(97, 102, 129, 0.04);
  margin-bottom: 24px;
  line-height: 28px;

  &:hover {
    box-shadow: 0 24px 40px 0 rgba(21, 24, 51, 0.16);
    transform: scale(1.02);
  }

  @media (--smallDown) {
    min-width: 280px;
  }
}

.title {
  font: var(--title-small);
  font-size: 20px;
  line-height: 24px;
  white-space: normal;
}

.wrapper {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;

  @media (--smallDown) {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    overflow-y: scroll;
    overscroll-behavior: contain;
  }
}

.wrapper::-webkit-scrollbar {
  display: none;
}
