.intro {
  @media (--smallDown) {
    width: 100vw;
    padding: 0 16px;
  }
}

.title {
  margin: 0 auto 24px;
  font: var(--title-extra);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @media (--smallDown) {
    margin-bottom: 24px;
  }
}

.logo {
  width: 146px !important;
  height: 56px !important;
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-bottom: 120px;
  text-align: center;

  @media (--smallDown) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
}

.button.button.button {
  padding: 16px 36px;
  font: var(--text18-28);

  @media (--smallDown) {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.buttonsItem.buttonsItem {
  display: inline-block;
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (--smallDown) {
    margin-right: 0;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.startButton {
  display: inline-block;
  margin-right: 16px;
  font: var(--text18-28) !important;

  @media (--smallDown) {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 16px auto;
    white-space: nowrap;
  }
}

.buttonContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  font-size: 20px;
  background-color: #fff;
  overflow: hidden;
  max-height: 306px;
  height: 100%;

  @media (--smallDown) {
    width: 100%;
  }
}

.buttonContainerLast {
  border-radius: 8px;
  grid-column: 3;
  grid-row: 2;
}

.status {
  margin: 0 24px 0 0;
  font: var(--text12-16);
  font-weight: 500;
  text-align: right;
}

.buttonText {
  font-size: 24px;
  white-space: normal;
}

.buttonContainerHighlight {
  grid-row: 1;
  border-radius: 8px;
  background: linear-gradient(0deg, #ffc751, #ffe094 100%);
}

.image {
  display: block;
  object-fit: cover;
}

.imageStudents {
}

.containerLarge {
  padding: 16px 0 0 0;
  grid-row: 1 / 3;
  border-radius: 12px;

  & .buttonText {
    margin-bottom: 40px;
  }
}

.imageSmall {
  width: 80px;
  height: 80px;
  margin-left: auto;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.imagePatient {
  object-fit: contain;
}