.questionNotification {
  padding: 32px 16px;
  margin-bottom: 72px;
  text-align: center;
  background-color: #ffd46d;

  @media (--smallDown) {
    margin: 0 -16px 48px -16px;
  }
}

.container {
  max-width: 560px;
  margin: 0 auto;
  text-align: left;
  @media (--smallDown) {
    margin: 0 16px;
  }
}

.title {
  margin: 0 0 24px 0;
  font: var(--title-medium);

  @media (--smallDown) {
    margin: 0 0 24px 0;
  }
}

.text {
  margin: 0 0 16px 0;
  font: var(--text18-28);
}

.finishButton.finishButton.finishButton {
  margin-right: 12px;

  @media (max-width: 360px) {
    padding: 20px 24px;
  }
}
