.logo {
  flex-shrink: 0;
  height: 48px;

  @media (--smallDown) {
    height: 38px;
  }
}

.desktopLogo {
  width: 238px;
  height: 48px;

  @media (--smallDown) {
    display: none;
  }
}

.mobileLogo {
  display: none;
  width: 200px;
  height: 38px;
}