.logoFull {
  display: block;
  width: 238;
  height: 48px;
  @media (min-width: 768px) {
    display: none;
  }
  
}

.logoShort {
  display: block;
  width: 200px;
  height: 38px;
  @media (max-width: 767px) {
    display: none;
  }
}