.list {
  margin-left: 20px;
}

.bullet {
  list-style-type: '— ';
}

.list-complex {
  margin-top: 32px;

  @media (--smallDown) {
    margin: 24px auto 0;
  }
}

.list-item {
  padding-left: 8px;
  margin-bottom: var(--offset-16);
}
