.title {
  font: var(--title-medium);
}

.description {
  font: var(--text14-20);
  color: var(--text-color-secondary);
}

.blockGettingCode {
  display: flex;
  align-items: center;

  & > * {
    margin-bottom: 24px;
  }

  & > *:first-child {
    margin-right: 16px;
  }
}

.messageCodeSent {
  display: inline-flex;
  align-items: center;
  font: var(--text14-20);
  color: var(--color-success);
}