.helpRequest {
  background: #faf9f7;

  @media (--smallDown) {
    background: white;
  }
}

.wrapper {
  max-width: 928px;
  margin: 0 auto;
  padding-top: 64px;

  @media (--smallDown) {
    padding-top: 0;
  }
}

.body {
  display: flex;
  align-items: flex-start;
}

.bubble {
  width: 288px;
  border-radius: 20px 20px 20px 0px;
  background-color: var(--color-bubble);

  padding: 24px 12px 20px 20px;

  flex-shrink: 0;
  @media (--smallDown) {
    display: none;
  }
}
