.systemHelp {
  padding: 64px 0 32px;

  @media (--smallDown) {
    padding: 40px 16px 56px;
  }
}

.title {
  max-width: 800px;
  margin-bottom: 32px;
  font: var(--title-regular-system);

  @media (--smallDown) {
    margin: 0 0 24px 0;
    text-align: left;
  }
}

