.description {
  margin: 0;
}

.bottomOffset {
  margin-bottom: 32px;
  @media (--smalldown) {
    margin-bottom: 28px;
  }
}

.textImage {
  display: block;

  max-width: 100%;
  height: auto;
}

.highlighted {
  font: var(--title-small) !important;
}

.list {
  padding-left: 20px;
}

.list > * + * {
  margin-top: 16px;
}