.menu {
  display: flex;
}

.menuItem.menuItem {
  display: flex;
  margin-right: 40px;

  @media (max-width: 767px) {
    font: var(--text-0);
  }

  &:hover svg {
    fill: var(--color-primary);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.icon {
  margin-right: 8px;
}