.header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  padding: 0 32px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--divider-color);

  @media (--smallDown) {
    padding: 0 16px;
  }
}

.icon {
  margin-right: 8px;
}
