.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 16px auto;
  column-gap: 8px;
  row-gap: 16px;
  margin-top: 16px;

  & *:last-child {
    grid-column: 1 / 3;
  }
}

.point {
  margin: 4px 0;
}

.title {
  margin: 0;
  font: var(--text16-24);
  color: var(--text-color-primary);
}

.disable {
  color: var(--text-color-secondary);
}

.subtitle {
  margin: 0;
  font: var(--text14-20);
  color: var(--text-color-secondary);
}