.ant-radio-group.ant-radio-group {
  display: flex;

  & .ant-radio-input {
    display: none;
  }

  & .ant-radio-wrapper {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  & .ant-radio-inner {
    display: none;
  }

  & .ant-radio + span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 96px;
    padding: 8px 16px;
    overflow: hidden;
    font: var(--text16-24);
    color: #000;
    text-align: center;
    background-color: #E8E9F2;
    border-radius: 100px;
    transition: all 0.36s;
  }

  & .ant-radio-checked + span {
    color: #fff;
    background-color: var(--color-primary);
  }

  & .ant-radio.ant-radio-checked + span:hover {
      color: #fff;
      background-color: var(--color-hover);
  }

  & .ant-radio + span:hover {
    background-color: #DCDCE7;
  }

  & .semibold {
    display: inline;
    margin-left: 8px;
    font-weight: 500;
  }
}

.ant-row.ant-form-item {
  margin: 0;
}

.ant-radio.ant-radio {
  display: none;
}

.ant-radio-wrapper.ant-radio-wrapper {
  line-height: 0;
}