.ClaimForm {
  position: relative;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  margin-top: 40px;
  text-align: left;

  @media (--smallDown) {
    padding: 0;
    margin-top: 24px;
  }
}

.title {
  margin: 0 0 24px 0;
  font: var(--title-medium);

  @media (--smallDown) {
    margin: 0 0 8px 0;
  }
}

.subtitle {
  margin: 40px 0 8px 0;
  font: var(--title-small);

  @media (--smallDown) {
    margin: 32px 0 8px 0;
  }
}

.article {
  position: relative;
  padding: 48px 160px 56px 160px;
  font: var(--text16-24);
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(21, 24, 51, 0.2);

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    background-color: var(--divider-color);
  }

  @media (--smallDown) {
    padding: 32px 16px 48px;
  }

  & .button.button {
    width: 100%;
    max-width: 480px;
    padding: 18px 20px;
    margin: 0 auto;
    font: var(--text18-28);

    @media (--smallDown) {
      max-width: 328px;
    }
  }
}

.label {
  position: relative;
  z-index: 1;
  display: block;
  margin: 24px 0 8px 0;
  line-height: 1.5;
  color: var(--text-color-primary);
}

.labelSmall {
  display: block;
  margin: 16px 0 8px 0;
}

.checkboxLabel {
  margin: 24px 0 8px 0;
  color: var(--text-color-primary);
}

.emergingLabel {
  z-index: 1;
  margin-top: 0;
}

.secondaryText {
  margin: 0;
  color: #82839b;
}

.historyComboContainer {
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-right: 0;
  }
}

.historyComboWrapper.historyComboWrapper {
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }

  @media (--smallDown) {
    flex-basis: 50%;
  }
}

.historyCombo {
  width: 232px;

  @media (--smallDown) {
    width: 100%;
  }
}

.historyComboSingle {
  width: 100%;
}

.addButton.addButton.addButton {
  display: flex;
  align-items: center;
  align-self: flex-start;
  max-width: none;
  padding: 8px 16px;
  margin-top: 40px;
}

.text {
  margin: 0;
}

.icon {
  display: inline-block;
  margin-right: 8px;
  fill: var(--color-primary);
}

.iconBack {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  fill: var(--color-primary);
  transform: rotate(180deg);
}
.iconForward {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  fill: var(--color-primary);
}

.footerBack,
.footerForward {
  display: flex;
  align-items: center;
  margin-top: 104px;

  @media (--smallDown) {
    margin-top: 96px;
  }
}
.emergeField {
  & .label:first-child {
    margin-top: 0;
  }

  &:last-of-type {
    margin: 0;
  }
}

.checkbox.checkbox {
  display: flex;
  margin: 24px 0 8px 0;
}

.footer {
  &::after {
    display: none;
  }

  @media (--smallDown) {
    padding: 32px 20px 32px 20px;
  }
}
