.hide {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.FromSmall {
  @media (--xsmallDown) {
    @inherit: .hide;
  }
}
.FromMedium {
  @media (--smallDown) {
    @inherit: .hide;
  }
}
.FromMediumSecondDown {
  @media (--mediumSecondDown) {
    @inherit: .hide;
  }
}

.FromLarge {
  @media (--largeDown) {
    @inherit: .hide;
  }
}

.FromExtraLarge {
  @media (--mediumDown) {
    @inherit: .hide;
  }
}

.ToSmall {
  @media (--xsmallUp) {
    @inherit: .hide;
  }
}
.ToMedium {
  @media (--smallUp) {
    @inherit: .hide;
  }
}
.ToMediumSecondDown {
  @media (--mediumSecondUp) {
    @inherit: .hide;
  }
}

.ToLarge {
  @media (--largeUp) {
    @inherit: .hide;
  }
}

.ToExtraLarge {
  @media (--mediumUp) {
    @inherit: .hide;
  }
}
