.bottom {
  font: var(--text14-20);

  & .infoLink {
    font: var(--text14-20);
    color: var(--text-color-primary);
    border-bottom: 1px solid transparent;

    &:hover {
      color: var(--color-link);
    }

    &:active {
      color: var(--color-link);
    }
  }


  @media (--smallDown) {    
    flex-direction: column;
    font: var(--text12-16);

    & .infoLink {
    font: var(--text12-16);
    }
  }
}

.copyright {
  padding-right: 24px;
  color: var(--text-color-secondary);

  @media (--smallDown) { 
    padding-right: 12px;
  }
}

.secondaryText {
  color: var(--text-color-secondary);
}

.oncohelp {
  @media (--smallDown) {
    margin-bottom: 12px;
  }
}

.breadhead {
  align-self: center;
}
