.bottom {
  font: var(--text14-20);

  & .infoLink {
    font: var(--text14-20);
    color: var(--text-color-primary);
    border-bottom: 1px solid transparent;

    &:hover {
      color: var(--color-link);
    }

    &:active {
      color: var(--color-link);
    }
  }


  @media (--smallDown) {    
    font: var(--text12-16);

    & .infoLink {
    font: var(--text12-16);
    }
  }

  @media (--xsmallDown) {    
    flex-direction: column;
  }
}

.copyright {
  padding-right: 24px;
  color: var(--text-color-secondary);

  @media (--smallDown) { 
    padding-right: 12px;
  }

  @media (--xsmallDown) {
    margin-bottom: 12px;
  }
}

.secondaryText {
  color: var(--text-color-secondary);
}

.oncohelp {
  @media (--xsmallDown) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  
  @media (--xsmallDown) {
    flex-direction: column;
    align-items: center;
  }
}

.breadhead {
  align-self: center;

  @media (--xsmallDown) {    
    margin: 0 auto;
  }
}
