.menu {
  position: absolute;
  top: 39px;
  right: 0;
  display: none;
  flex-direction: column;
  border-radius: 0;
  box-shadow: 0 0 1px 1px rgba(63, 63, 68, 0.04),
    0 4px 12px 0 rgba(63, 63, 68, 0.12);
}

.dropdown {
  position: relative;
  cursor: pointer;

  &:hover .menu,
  &:focus .menu {
    z-index: 2;
    display: flex;
  }

  &::before {
    position: absolute;
    bottom: -16px;
    left: 50%;
    width: 300%;
    height: 24px;
    content: '';
    background-color: transparent;
    transform: translate(-50%);
  }
}

.menuItem.menuItem.menuItem {
  padding: 14px 16px;
  font: var(--text14-20);
  color: #6c718a;
  white-space: nowrap;
  background-color: #fff;
  border-bottom: 1px solid #ededef;

  &:hover {
    color: var(--text-color-primary);
    background-color: #f7f7f9;
    border-bottom: 1px solid #ededef;
  }

  &:first-of-type {
    border-radius: 0;
  }

  &:last-of-type {
    border-bottom: none;
    border-radius: 0;
  }
}

.link {
  color: var(--color-link);

  &:hover {
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link-underline);
  }

  &:active {
    color: var(--color-link);
    border-bottom: 1px solid var(--color-link-underline);
  }
}

.left {
  right: 0;
}

.right {
  right: -962%;
}

.center {
  right: -473%;
}

.icon {
  fill: var(--text-color-secondary);
}
