.claimPage {
  padding: 48px 0 120px;
  font: var(--text16-24);
  text-align: center;
  background-color: var(--background-color);
  

  @media (--smallDown) {
    padding: 24px 16px 80px;
    font: var(--text14-20);
  }
}

.title {
  margin: 48px auto 8px;
  font: var(--title-regular);
}


.infoText {
  margin: 0 0 32px 0;
  color: #82839B;
}
