.donationWrapper {
  width: 100vw;
  min-width: 100%;
  padding: 66px 0 120px;
  margin-left: 50%;
  background-color: #FAF9F7;
  transform: translateX(-50%);

  @media (--smallDown) {
    padding: 32px 16px;
    margin-bottom: -56px;
  }
}

.title {
  margin-bottom: 48px;
  font: var(--title-regular);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--smallDown) {
    flex-direction: column;
  }
}

.widget {
  margin-right: 76px;

  @media (--smallDown) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}