.donationWrapper {
  width: 100vw;
  min-width: 100%;
  padding: 66px 0 120px;
  margin-left: 50%;
  background-color: #faf9f7;
  transform: translateX(-50%);

  @media (--smallDown) {
    padding: 40px 0 80px;
    margin-bottom: -48px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;

}

.title {
  margin-bottom: 48px;
  font: var(--title-regular);

  @media (--smallDown) {
    margin-bottom: 16px;
    padding-left: 16px;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (--smallDown) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.widget {
  margin-right: 76px;

  @media (--smallDown) {
    margin-right: 0;
  }
}
