.footer {
  display: flex;
  max-width: 560px;
  padding: 16px 0 0 0;
  margin: 0 auto;
  font: var(--text12-16);
  border-top: 1px solid rgba(21, 24, 51, 0.12);

  @media (--smallDown) {
    padding: 16px 16px 16px 0;
  }
}

.item {
  margin-right: 32px;

  &:last-of-type {
    margin-right: 0;
  }
}

.text {
  margin: 0;
  color: var(--text-color-secondary);
}

.date {
  margin: 0;
}
