.top {
  margin-bottom: 40px;
}

.buttons {
  display: flex;

  & .button {
    margin-right: 12px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.logo {
    @media (max-width: 767px) {
    display: none;
  }
}