.FeedbackFormWrapper {
  max-width: 480px;
  margin: 0 auto;

  @media (--smallDown) {
    padding: 40px 0 0 0;
  }
}

.title {
  margin-bottom: 32px;
  font: var(--title-medium);
  text-align: center;

  @media (--smallDown) {
    margin-bottom: 24px;
  }
}

.formItem {
  margin-bottom: 16px;

  @media (--smallDown) {
    margin-bottom: 24px;
  }
}

.button {
  display: block;
  margin: 32px auto 0 auto;
}