.professionRadioGroup {
  margin-top: 14px;
  margin-bottom: 16px;

  @media (--smallDown) {
    margin-bottom: 12px;
  }
}

.professeionWrapper {
  margin-top: 32px;

  @media (--smallDown) {
    margin-top: 24px;
  }
}
