.newsCard {
  padding: 16px 100px 16px 0;
  border-top: 1px solid rgba(21, 24, 51, 0.12);
  display: flex;
  &:last-of-type {
    border-bottom: 1px solid rgba(21, 24, 51, 0.12);
  }

  &:hover {
    border-bottom: 0;
    & .title {
      color: var(--color-primary);
    }
  }

  &:active {
    border-bottom: 0;
  }

  &:focus {
    border-bottom: 0;
  }
}

.image {
  height: 72px;
  width: 72px;
  display: block;
  margin-right: 12px;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.date {
  color: var(--text-color-secondary);
  display: block;
  font: var(--text14-20);
}

.title {
  margin: 0;
  color: var(--text-color-primary);
  font: var(--text18-28);

  transition: all 0.2s ease;

  @media (--smallDown) {
    font-size: 16px;
    line-height: 24px;
  }
}

.tags {
  margin-top: 8px;
  display: flex;

  width: 100%;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  & a {
    margin-right: 2px;
  }
}

.webinarHeader {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  color: #151833 !important;

  & * {
    font: var(--text18-20);

    @media (--smallDown) {
      font-size: 14px;
      line-height: 20px;
      color: #616681;
    }
  }
}

.webinarIcon {
  align-self: center;
  margin-right: 4px;

  @media (--smallDown) {
    position: relative;

    bottom: 2px;
  }
}

.divider {
  height: 20px;
  width: 1px;
  margin-left: 8px;
  margin-right: 8px;
  background: #dcdce7;
  align-self: center;

  @media (--smallDown) {
    margin-right: 4px;
    margin-left: 4px;
  }
}

.registrationBadge {
  margin-left: 4px;
  font-size: 12px;
  line-height: 16px;
  background: #ffeab7;
  padding: 4px;
  align-self: center;
}
