.footer {
  position: relative;
  display: flex;
  padding: 24px 24px 0;
  font: var(--text14-20);
  
  &::after {
    position: absolute;
    top: 0;
    left: -16px;
    width: 400px;
    height: 1px;
    content: '';
    background-color: var(--divider-color);
  }

  @media (--smallDown) {
    padding: 24px 16px 32px;
  }
}

.text {
  margin: 0;
}

.logo {
  display: inline-block;
  width: 26px;
  height: 40px;
  margin-right: 12px;
}

.link.link {
  font: var(--text14-20);
}
