.icon {
  display: inline-block;
  margin-right: 8px;
  fill: var(--color-primary);
}

.fields {
  position: relative;
}

.addButton {
  display: flex;
  align-items: center;
  align-self: flex-start;
  max-width: none;
  padding: 8px 16px;
}

.filesButton {
  margin: 24px 0 8px 0;
}

.labelSmall {
  display: block;
  margin: 16px 0 8px;
}
