// COLORS
@primary-color: #3C54EE; // primary color for all components
@link-color: #2D47EA; // link color
@success-color: #19CD92; // success state color
@error-color: #F11635; // error state color
@background-color-light : hsv(0, 0, 98%); // background of header and selected item
@background-color-base : hsv(0, 0, 96%); // Default grey background color
// FONTS
@heading-color          : #151833;
@text-color             : #151833;
@text-color-secondary   : #82839B;
@font-size-base: 16px; // major text font size
//OTHER
@border-radius-base     : 8px;
@border-radius-sm       : 4px;
// STATES
// Disabled
@disabled-color : fade(#000, 25%);
@disabled-bg : fade(@primary-color, 60%); // equivalent to opacity: 0.4;
@disabled-color-dark : fade(#fff, 35%);
// COMPONENTS
// Checkbox
@checkbox-size : 20px;
@checkbox-color : @primary-color;
@checkbox-check-color : #fff;
// Form
@form-item-margin-bottom: 24px;

.ant-form-vertical .ant-form-item {
  padding: 0;
}
