.otherPartners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
}

.tabLinks {
  display: flex;
  font-family: var(--fontFamily-title);
}

.tablink {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 20px;
  color: var(--color-text-secondary) !important;
  text-transform: uppercase;

  &:hover {
    border-bottom: none !important;
  }
}

.tablinkLight {
  background-color: var(--color-beige);
}

.links {
  display: flex;
}

.link {
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-secondary) !important;

  &:hover {
    border-bottom: none !important;
  }
}
