.otherPartners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
}

.tabLinks {
  display: flex;
  font-family: var(--fontFamily-title);
}

.tablink {
  font-size: 14px !important;
  font-family: var(--fontFamily-title) !important;
  padding: 6px 20px !important;
  color: var(--color-text-secondary) !important;
  text-transform: uppercase;
  transition: background-color, color 0.2s ease-in !important;

  &:not(.current):hover {
    background-color: rgba(247, 246, 242, 0.2);
    color: #fff !important;
    border-bottom: 1px solid transparent !important;
  }
}

.tablinkLight {
  background-color: var(--color-beige);
}

.links {
  display: flex;

  @media (--smallDown) {
    display: none;
  }
}

.link {
  padding: 0 20px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-text-secondary) !important;

  &:first-child {
    border-right: 1px solid var(--color-text-secondary);
  }
  
  &:hover {
    border-bottom: 1px solid transparent !important;
  }
}

.current {
  display: flex;
  align-items: center;
}
