.options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (--smallDown) {
    flex-direction: column;
    margin-bottom: 32px;
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 24px 24px 20px;
  background-color: var(--background-system);
  width: 100%;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  @media (--smallDown) {
    margin-right: 0;
    margin-bottom: 16px;
    padding: 16px 16px 24px 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.title {
  font: var(--title-small);
  color: var(--text-color-primary);
  margin-bottom: 40px;

  @media (--smallDown) {
    font: var(--title-medium);
    margin-bottom: 24px;
  }
}

.link {
  margin-bottom: 12px;
  align-self: flex-start;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttonWrapper {
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}