.wrapperOuter {
  background: #faf9f7;
}

.content {
  display: flex;
 
  
  @media (--smallDown) {
    flex-direction: column;
  }
}

.anchor {
  visibility: hidden;
  position: relative;
  top: -78px;
  height: 1px;
}
