.about {
  padding: 64px 0 96px;
}

.title {
  max-width: 800px;
  margin-bottom: 32px;
  font: var(--title-regular);

  @media (--smallDown) {
    max-width: 100%;
    margin: 0 0 24px 0;
    font: var(--title-medium);
    text-align: left;
  }
}

.features {
  display: flex;
}

.feature {
  margin-right: 16px;

  margin-bottom: 32px;

  &:last-child {
    margin-right: 0;
  }
}

.slogan {
  font: var(--title-small);
}
