.card {
  padding-top: 16px;

  @media (--smallDown) {
    margin-right: 16px;
  }
}

.logo {
  width: 200px;
  max-height: 100%;
  object-fit: contain;
}

.logoWrapper {
  display: flex; 
  height: 112px;
  margin-bottom: 24px;
}

.label {
  margin: 0 0 4px 0;
  font: var(--text14-20);
}

.sum {
  margin: 0;
  font: var(--text14-20);
}